.tec {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
  position: relative;
}

.tec__box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.tec__headline {
  position: absolute;
  top: 0;
  left: 380px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Bellefair", serif;
}
.tec__headline .headline__span {
  color: rgb(208, 214, 249);
}

.tec__wrapper {
  width: 800px;
  display: flex;
  gap: 100px;
  margin-left: 580px;
}
.tec__wrapper .tec__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tec__wrapper .tec__buttons .tec__button {
  width: 80px;
  height: 80px;
  background-color: transparent;
  color: #fff;
  font-size: 26px;
  font-family: "Bellefair", serif;
  border: 1px solid #fff;
  border-radius: 50%;
}
.tec__wrapper .tec__buttons .tec__button:focus {
  background-color: #fff;
  color: #000;
}

.tec__info {
  width: 510px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tec__info .tec__title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgb(208, 214, 249);
}

.tec__word {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Bellefair", serif;
}

.tec__description {
  font-size: 18px;
  font-weight: 400;
  color: rgb(208, 214, 249);
  letter-spacing: 0.5px;
  text-align: start;
  padding-right: 2em;
}

.tec__img {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-top: 50px;
}
.tec__img .tec__image {
  width: 500px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* RESPONSIVE TO MOBILE */
@media (max-width: 768px) {
  .tec {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .tec__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .tec__headline {
    position: absolute;
    left: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Bellefair", serif;
  }
  .tec__headline .headline__span {
    color: rgb(208, 214, 249);
  }
  .tec__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 0px;
    margin-top: 50px;
    padding: 2.5em;
  }
  .tec__wrapper .tec__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }
  .tec__wrapper .tec__buttons .tec__button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    font-family: "Bellefair", serif;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .tec__wrapper .tec__buttons .tec__button:focus {
    background-color: #fff;
    color: #000;
  }
  .tec__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .tec__info .tec__title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgb(208, 214, 249);
  }
  .tec__word {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Bellefair", serif;
  }
  .tec__description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(208, 214, 249);
    letter-spacing: 0.5px;
    text-align: justify;
    padding-right: 0em;
  }
  .tec__img {
    position: inherit;
    display: flex;
    justify-content: flex-end;
  }
  .tec__img .tec__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=tecnologies.css.map */